@font-face {
  font-family: 'Aleo';
  src: url('/fonts/Aleo-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #fdfbf5;
}

body {
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding: 60px;
  font-size: 36pt;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 24pt;
  font-weight: 500;
}

.header {
  background-color: #333333;
  color: #ffffff;
  padding-inline-start: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline-end: 40px;
  display: flex;
  justify-content: space-between;
}

.header-brand {
  text-transform: uppercase;
}

.header-phone {
  text-transform: uppercase;
}

/* .carousel {
  background-color: #fcc409;
  height: 400px;
} */

.list-container {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  width: 75%;
  margin-left: 12.5%;
  grid-auto-rows: 1fr;
}

.list-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

.list-image {
  border: 5px solid black;
}

.honey-price-container{
  display: grid;
  grid-template-columns: auto auto;
  font-size: 20pt;
  gap: 10px;
}

.honey-title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 20px;
  font-size: 20pt;
}

.honey-weight{
  font-style: italic;
}

.honey-price {
  font-weight: 600;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

.contact-us-container {
  display: grid;
  grid-template-columns: auto 400px auto; 
  grid-template-rows: 100px 200px auto auto;
}

.contact-image {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 100%;
}

.contact-message {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #ebdc9d;
  width: 50%;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
}

.contact-bottom {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: #333333ff;
  padding-top: 100px;
  padding-left: 100px;
}

.contact-name { 
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 20pt;
}

.contact-number {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20pt;
  margin: 20px;
}

.attribution {
  color: #6d6d6d;
  text-align: end;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.attribution, .attribution > a:visited, .attribution > a:link {
  color: #808080;
}

.attribution > a:hover {
  color: #bbbbbb;
}


.attribution > a:active {
  color: #808080;
}


@media only screen and (min-width: 799px) {
  .list-container { grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .honey-title {font-size: 16pt;}
  .honey-weight {font-size: 16pt;}
  .honey-price {font-size: 16pt;}
  .contact-us-container {grid-template-columns: auto 400px auto; }
  .contact-us-container {grid-template-rows: 200px 200px auto auto;}
}

@media only screen and (min-width: 1199px) {
  .list-container { grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .honey-title, .contact-number {font-size: 20pt;}
  .contact-name {font-size: 20pt}
  .contact-us-container {grid-template-columns: auto 700px auto; }
  .contact-us-container {grid-template-rows: 200px 200px auto auto;}
} 