---
import "../styles/global.css";
import CarouselSlide from "../components/CarouselSlide.astro";
import image1 from "../assets/fadoboz.jpg";

const title1 = "Díszdobozok"
const text1 = "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
---

<section class="slider-wrapper">
  <button class="slide-arrow" id="slide-arrow-prev"> &#8249;</button>

  <button class="slide-arrow" id="slide-arrow-next"> &#8250;</button>

  <ul class="slides-container" id="slides-container">
    <li class="slide"><CarouselSlide isPortrait = true, image={image1}, slideTitle={title1}, slideMessage={text1}/></li>
    <li class="slide"></li>
    <li class="slide"></li>
    <li class="slide"></li>
  </ul>
</section>

<script>
  const slidesContainer = document.getElementById("slides-container");
  const slide = document.querySelector(".slide");
  const prevButton = document.getElementById("slide-arrow-prev");
  const nextButton = document.getElementById("slide-arrow-next");

  nextButton.addEventListener("click", (event) => {
    const slideWidth = slide.clientWidth;
    slidesContainer.scrollLeft += slideWidth;

    prevButton.addEventListener("click", () => {
      const slideWidth = slide.clientWidth;
      slidesContainer.scrollLeft -= slideWidth;
    });
  });
</script>
