---
import image from "../assets/contact_us_bee.jpg";

const contactTitle = "Elérhetőségeink";
const phoneNumber = "06 30/433-4689";
const name = "Szentpéteri András";
---

<div class="contact-us-container">
  <div class="contact-image">
    <img src={image} style="width:100%" />
  </div>
  <div style="width:100%;height:100%;" class="contact-message">
    <h3>{contactTitle}</h3>
    <div class="contact-name">
      {name}
    </div>
    <div class="contact-number">{phoneNumber}</div>
  </div>
  <div class="contact-bottom"></div>
</div>
