---
const brandName = "Szentpéteri méz";
const phoneNum = "06 30/433-4689";
---

<div class="head">
  <div class="header-brand">
    <h3>{brandName}</h3>
  </div>

  <div class="header-phone">
    <h3>{phoneNum}</h3>
  </div>
</div>
