---
const brandName = "Szentpéteri méz";
const phoneNum = "06 30/433-4689";
---

<div class="header">
  <div class="header-brand">
    {brandName}
  </div>

  <div class="header-phone">
    {phoneNum}
  </div>
</div>
