---
import ListItem from "./ListItem.astro";

const listTitle = "Termékeink"

---
<h2>Termékeink</h2>
<div class="list-container">
    <ListItem />
    <div class="list-item"> 2 </div>
    <div class="list-item"> 3 </div>
    <div class="list-item"> 4 </div>
    <div class="list-item"> 5 </div>
    <div class="list-item"> 6 </div>
</div>