---
import Header from "../components/Header.astro";
import Carousel from "../components/Carousel.astro";
import List from "../components/List.astro";
import ContactUs from "../components/ContactUs.astro";
const { pageTitle } = Astro.props;
---

<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8"/>
    <meta name="description" content="Termelői méz vásárolható személyesen Szentpéteri András ellenőrzött termelőtől. Akácméz, repceméz, napraforgó méz és virágpor többféle kiszerelésben eladó. Különleges ajándék csomagolással is szolgálunk."/>
    <meta name="keywords" content="akácméz, repceméz, napraforgó méz, virágpor, termelői méz, méhészet, méz, minőségi méz"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:url" content="https://szentpeterimez.hu//">
    <title>{pageTitle}</title>
  </head>

  <body>
    <Header />
    <Carousel />
    <List />
    <ContactUs/>
  </body>
</html>
